* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: hsl(0, 0%, 0%);
  color: rgb(255, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#table{
border: 5px solid rgb(255, 0, 0); /* or any color and thickness you prefer */
  border-collapse: collapse;
}
 /* .tables{
  border-width: 10px;
  border-color: black;
  border-radius: 10px;
 } */
  /* transform: scale(0.5);  */
  /* transform-origin: center; */
  /* padding: 0; */
  /* margin: 0; */

td {
  height: 2px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  border: none;
  
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

